{% extends 'base.html' %}

{% load bootstrap3 %}

{% block content %}
  {% include "urls_form.html" %}

  <h3>Interesting urls:</h3>
  <table class="table table-striped">
      <thead>
        <tr>
          <th>URL</th>
          <th>Nick</th>
          <th>Publish date</th>
          <th>Tags</th>
        </tr>
      </thead>
      <tbody>
      {% for url in url_list %}
          <tr>
              <td><a target="_blank" href="{{url.url}}">{{url.title}}</a></td>
              <td>{{url.nick}}</td>
              <td>{{url.publish_date}}</td>
              <td>{{url.tags}}</td>
          </tr>
      {% endfor %}
      </tbody>
  </table>

  {% bootstrap_pagination url_list %}

{% endblock content %}