<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>

<div class="container">
<h2>Interesting urls</h2>

    <table class="table table-striped">
        <thead>
          <tr>
            <th>URL</th>
            <th>Creator</th>
            <th>Publish date</th>
          </tr>
        </thead>
        <tbody>
        {% for url in url_list %}
            <tr>
                <td><a target="_blank" href="{{url.url}}">{{url.title}}</a></td>
                <td>{{url.creator}}</td>
                <td>{{url.publish_date}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="container">
    <form action="{% url 'frisor_urls:index' %}" method="post">
    {% csrf_token %}
        <div class="form-group">
            <label for="url">URL:</label>
            <input name="url" id="url" type="text" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="title">Title:</label>
            <input name="title" id="title" type="text" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="nick">Nick:</label>
            <input name="nick" id="nick" type="text" class="form-control"/>
        </div>
    <input type="submit" class="btn btn-primary"/>
    </form>
</div>